.button {
  width: 250px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--main-border-radius);
  box-shadow: var(--button-shadow);
  background-color: transparent;
  border: var(--button-border);
  transition: 0.1s;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 0px 0.5px #fff;
  transform: translateY(-2px);
}

.button:active {
  cursor: pointer;
  box-shadow: 0px 0px 0px 0.5px #fff;
  transform: translateY(3px);
}

.button:disabled {
  opacity: 50%;
}
.button:disabled:hover {
  cursor: auto;
  transform: translateY(0px);
}

.button:hover {
  cursor: pointer;
}

.button > p.label {
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
}

.button .buttonIcon {
  width: 45px;
  filter: invert(100%);
}

@media (max-width: 2200px) {
  .button {
    width: 205px;
    height: 60px;
  }

  .button > p.label {
    font-size: 2.8rem;
  }

  .button .buttonIcon {
    width: 35px;
  }
}

/* Small Styles */

.button.small {
  width: 150px;
  height: 46px;
  box-shadow: var(--small-button-shadow);
}

.button.small > p.label {
  font-size: 2.2rem;
  font-weight: 600;
}

.button.small .buttonIcon {
  width: 25px;
  filter: invert(100%);
}

.button.easy {
  background-color: var(--easy-700);
}

.button.small:hover:not(:disabled) {
  box-shadow: var(--small-button-shadow-hover);
  transform: translateY(-2px);
}

.button.small:active:not(:disabled) {
  box-shadow: 0px 0px 0px 0.25px #fff;
  transform: translateY(2px);
}

.buttonIcon {
  width: 100%;
  height: 100%;
}

@media (max-width: 2200px) {
  .button.small {
    width: 150px;
    height: 45px;
  }

  .button.small > p.label {
    font-size: 2rem;
  }
}

@media (max-width: 1250px) {
  .button.default {
    width: 150px;
    height: 55px;
    box-shadow: var(--small-button-shadow);
    display: flex;
    align-items: center;
  }

  .button.default:hover {
    box-shadow: var(--small-button-shadow-hover);
    transform: translateY(-2px);
  }
  .button.default:active {
    box-shadow: 0px 0px 0px 0.25px #fff;
    transform: translateY(2px);
  }

  .button.default p {
    font-size: 2rem;
  }

  .button.default .buttonIconContainer {
    width: 25px;
    height: 25px;
  }

  .button.small {
    width: 135px;
    height: 40px;
  }
  .button.small > p.label {
    font-size: 1.75rem;
  }
}

/* Taller Styles */

.button.taller {
  width: 250px;
  height: 90px;
}

.button.taller > p.label {
  font-size: 3rem;
}

@media (max-width: 2200px) {
  .button.taller {
    width: 200px;
    height: 75px;
  }

  .button.taller > p.label {
    font-size: 2.4rem;
  }
}

@media (max-width: 1250px) {
  .button.taller {
    width: 180px;
    height: 70px;
  }

  .button.taller > p.label {
    font-size: 2.2rem;
  }
}

@media (max-width: 675px) {
  .button.taller {
    width: 150px;
    height: 60px;
  }

  .button.taller > p.label {
    font-size: 1.8rem;
  }
}

/* Smaller Styles */

.button.smaller {
  width: 175px;
  height: 60px;
}

.button.smaller > p.label {
  font-size: 2.4rem;
}

/* Login Styles */

.button.signup,
.button.login {
  width: fit-content;
  height: 60px;
  padding: 0 16px;
}

.button.login {
  padding: 0 36px;
}

.button.login > p.label,
.button.signup > p.label {
  font-size: 2.2rem;
}
