/*
  <div className="difficultyContainer">
    <button className="optionButton">
      <p className="label">35+ Mins/G</p>
      <p className="easy">Easy</p>
    </button>
    <button className="optionButton">
      <p className="label">15+ Mins/G</p>
      <p className="medium">Medium</p>
    </button>
    <button className="optionButton">
      <p className="label">All Players</p>
      <p className="hard">Hard</p>
    </button>
  </div>
*/

.difficultyContainer {
  display: flex;
  gap: 55px;
}

.difficultyContainer .optionButton {
  padding: 35px 40px;
  height: fit-content;
  justify-content: center;
  gap: 15px;
  border: var(--button-border);
  border-radius: var(--main-border-radius);
  box-shadow: 0px 3px 0px 0.5px #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.difficultyContainer > .optionButton {
  padding: 35px 40px;
  height: fit-content;
  justify-content: center;
  gap: 15px;
}

.optionButton > .easy {
  color: var(--easy-500);
}
.optionButton > .medium {
  color: var(--hard-400);
}
.optionButton > .hard {
  color: var(--impossible-500);
}

@media (max-width: 1800px) {
  .difficultyContainer .optionButton {
    padding: 20px 30px;
  }
}
