.dropdown {
  width: 300px;
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  border-radius: var(--main-border-radius);
  position: absolute;
  bottom: -285px;
  right: 0;
  box-shadow: var(--default-shadow);
  z-index: 6;
}

.dropdown .profile {
  align-items: center;
  height: 75px;
  padding: 0 20px;
  display: flex;
  gap: 15px;
  border-bottom: 1px solid var(--subtle-border);
}

.dropdown .profile .username {
  font-size: 2.4rem;
  font-weight: 600;
}

.dropdown .lightMode {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

@media (max-width: 875px) {
}
