/*
    <div className="guessField">
      <div className="searchContainer">
        <img src={Search} alt="" className="searchIcon" />
      </div>
      <input
        type="text"
        name="guess"
        id="guess"
        placeholder="Type your guess..."
      />
    </div>
*/

.guessField {
  background-color: white;
  width: 600px;
  height: fit-content;
  padding: 7.5px 16px;
  display: flex;
  align-items: center;
  gap: 13px;
  border-radius: var(--main-border-radius);
  box-shadow: var(--default-shadow);
}

.guessField.focused {
  outline: 10px solid red;
}

.guessField > .searchIconContainer {
  height: 33px;
  width: 33px;
}

.guessField > .searchIconContainer > .searchIcon {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.guessField > input {
  height: fit-content;
  border: none;
  font-family: 'Oxanium';
  font-size: 2.2rem;
  width: 100%;
}

.guessField > input:focus {
  outline: none;
}

.guessFieldContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.guessFieldContainer .autofillContainer {
  position: absolute;
  top: 5.5rem;
  background-color: white;
  width: 600px;
  height: fit-content;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: var(--main-border-radius);
}

.autofillContainer li {
  width: 100%;
  color: black;
  font-size: 2rem;
  padding: 16px 24px;
}

.autofillContainer li:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

@media (max-width: 2200px) {
  .guessField {
    padding: 6px 16px;
  }

  .guessField > input {
    font-size: 2rem;
  }
}

@media (max-width: 1250px) {
  .guessField {
    padding: 5px 16px;
  }

  .guessField > input {
    font-size: 1.75rem;
  }

  .guessField > .searchIconContainer {
    height: 30px;
    width: 30px;
  }

  .autofillContainer li {
    width: 100%;
    font-size: 1.75rem;
  }
}

@media (max-width: 900px) {
  .guessFieldContainer .autofillContainer {
    width: 100%;
  }
}
