.leaderboardItem {
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid var(--subtle-border);
  height: 80px;
  gap: 36px;
  flex-shrink: 0;
}

.leaderboardItem:last-child {
  border-bottom: none;
}

.leaderboardItem p,
.leaderboardItem a {
  font-size: 2.4rem;
}

.leaderboardItem a:hover {
  text-decoration: underline;
}

.leaderboardItem .username {
  font-weight: 500;
}

.leaderboardItem .profilePicContainer {
  width: 40px;
  height: 40px;
}

.leaderboardItem .score {
  flex-grow: 1;
  text-align: right;
}

@media (max-width: 2200px) {
  .leaderboardItem {
    height: 65px;
  }
}
