.leaderboardPage .mainContainer {
  width: 1000px;
  height: calc(100vh - 100px);
  flex-grow: 0;
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.selectors {
  display: flex;
  justify-content: space-around;
}

.selectors > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.selectors > div > h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

.leaderboardContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  min-height: 0;
}

.leaderboardContainer .title {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
}

.leaderboard {
  position: relative;
  border: 2px solid var(--subtle-border);
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-height: 80vh;
  padding: 0 24px;
}

.normalScores {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  flex-grow: 0;
  padding: 10px 0;
}

.specialScores {
  border-top: 4px solid var(--subtle-border);
  width: calc(100% + 24 * 2px);
  transform: translateX(-24px);
}

.specialScores .leaderboardItem {
  height: 90px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.selectorContainer {
  position: relative;
}

.selector {
  position: relative;
  display: flex;
  height: 45px;
  align-items: center;
  border: 1px solid var(--subtle-border);
  border-radius: var(--main-border-radius);
  overflow: hidden;
}

.selector:hover {
  cursor: pointer;
}

.selector .label {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 500;
  padding: 0px 20px;
  height: 100%;
  background: linear-gradient(180deg, rgba(57, 62, 70, 0.33) 0%, #222831 100%);
  border-radius: var(--main-border-radius);
}

.selector .arrowContainer {
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secondary);
}

.selector .arrowContainer img {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}

.leaderboardDropdown {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  min-width: 100%;
  width: max-content;
  z-index: 6;
  display: none;
  border-radius: var(--main-border-radius);
  overflow: hidden;
  background: var(--background-primary);
  border: 1px solid var(--subtle-border);
}

.leaderboardDropdown.visible {
  display: flex;
  flex-direction: column;
}

.dropdownElement {
  height: 40px;
  padding: 0px 15px;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}

.dropdownElement:hover {
  cursor: pointer;
  background-color: var(--background-primary-hover);
}

@media (max-width: 2200px) {
  .leaderboardPage .mainContainer {
    height: 100%;
    width: 700px;
  }

  .specialScores .leaderboardItem {
    height: 70px;
  }
}
