/* 
<div className="page whoAmIPage">
      <div className="mainContainer">
        <div className="inputs">
          <GuessField type="player" />
          <Button label="Guess" icon="" size="small" />
          <Button label="Next Hint" icon="" size="small" />
        </div>
        <div className="gameContainer">
          <div className="hintsContainer">
            <div className="impossible">
              <h3>Impossible (4 pts)</h3>
              <p className="hint">I ate a Banana in the 6th grade</p>
            </div>
            <div className="hard">
              <h3>Hard (3 pts)</h3>
              <p className="hint">I went to Kentucky for college. It’s lit!</p>
            </div>
            <div className="medium">
              <h3>Medium (2 pts)</h3>
              <p className="hint">Bro just get it already come on</p>
            </div>
            <div className="easy">
              <h3>Easy (1 pts)</h3>
              <p className="hint">I am literally LeBron James</p>
            </div>
          </div>
          <div className="player">
            <h2 className="title">Who Am I?</h2>
            <div className="silhouetteContainer">
              <img src="" alt="" className="silhouette" />
            </div>
            <h4 className="playerName">Lebron James</h4>
          </div>
        </div>
        <div className="gameInfo">
          <div className="score">Score: 5</div>
          <div className="rounds">
            <div className="roundIndicator"></div>
            <div className="roundIndicator"></div>
            <div className="roundIndicator"></div>
            <div className="roundIndicator"></div>
            <div className="roundIndicator"></div>
            <div className="roundIndicator"></div>
            <div className="roundIndicator"></div>
            <div className="roundIndicator"></div>
            <div className="roundIndicator"></div>
            <div className="roundIndicator"></div>
          </div>
        </div>
      </div>
    </div>
  */

.whoAmIPage,
.gameContainer,
.notifyContainer {
  animation-name: fade-in;
  animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.whoAmIPage .inputs {
  display: flex;
  gap: 20px;
}

.whoAmIPage .guess {
  background-color: var(--easy-600);
}

.whoAmIPage .nexthint {
  background-color: var(--normal-600);
}

.whoAmIPage > .mainContainer {
  padding: 36px 0;
  gap: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.whoAmIPage .gameContainer {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  gap: 36px;
  width: 100%;
}

.whoAmIPage .gameContainer .hintsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 120px 0;
  width: 100%;
}

.whoAmIPage .hintsContainer > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.impossible > h3 {
  color: var(--impossible-500);
}
.hard > h3 {
  color: var(--hard-500);
}
.normal > h3 {
  color: var(--normal-500);
}
.easy > h3 {
  color: var(--easy-500);
}

.whoAmIPage .hintsContainer > div > h3 {
  font-size: 4rem;
  font-weight: 700;
}
.whoAmIPage .hintsContainer > div > p.hint {
  font-size: 3.2rem;
  font-weight: 700;
}

.whoAmIPage .gameContainer .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 36px;
}

.whoAmIPage .gameContainer .player > h2.title {
  font-size: 4.8rem;
  font-weight: 700;
}

.whoAmIPage .gameContainer .player .silhouetteContainer {
  display: flex;
  justify-content: center;
  width: 550px;
}

.whoAmIPage .player .silhouette {
  filter: brightness(0) blur(10px);
  width: 100%;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

.whoAmIPage .player .silhouette.visible {
  filter: brightness(1) blur(00px);
}

.whoAmIPage .player .silhouette.level4 {
  filter: brightness(0) blur(10px);
}
.whoAmIPage .player .silhouette.level3 {
  filter: brightness(0) blur(6px);
}
.whoAmIPage .player .silhouette.level2 {
  filter: brightness(0) blur(4px);
}
.whoAmIPage .player .silhouette.level1 {
  filter: brightness(0) blur(0px);
}

.whoAmIPage .gameContainer .player > h4.playerName {
  font-size: 4rem;
  font-weight: 600;
}

.whoAmIPage .gameInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.whoAmIPage .gameInfo .score {
  font-size: 4.8rem;
  font-weight: 700;
}

.whoAmIPage .gameInfo .rounds {
  width: 500px;
  justify-content: space-between;
  display: flex;
}

.whoAmIPage .gameInfo .rounds .roundIndicator {
  width: 10px;
  height: 10px;
  background-color: aliceblue;
  border-radius: 1000px;
}

.whoAmIPage .gameInfo .rounds .roundIndicator.fail {
  opacity: 0.5;
}
.whoAmIPage .gameInfo .rounds .roundIndicator.easy {
  background-color: var(--easy-500);
}
.whoAmIPage .gameInfo .rounds .roundIndicator.normal {
  background-color: var(--normal-500);
}
.whoAmIPage .gameInfo .rounds .roundIndicator.hard {
  background-color: var(--hard-400);
}
.whoAmIPage .gameInfo .rounds .roundIndicator.impossible {
  background-color: var(--impossible-500);
}
.whoAmIPage .gameInfo .rounds .roundIndicator.active {
  box-shadow: 0px 0px 8px 1px #fff;
}

@media (max-width: 1800px) {
  .whoAmIPage .gameContainer .hintsContainer {
    padding: 50px;
    gap: 50px;
  }
  .whoAmIPage .hintsContainer > div > h3 {
    font-size: 3rem;
    font-weight: 700;
  }
  .whoAmIPage .hintsContainer > div > p.hint {
    font-size: 2.4rem;
    font-weight: 700;
  }
  .whoAmIPage .gameContainer .player > h2.title {
    font-size: 4rem;
  }
  .whoAmIPage .player .silhouette {
    width: 386px;
  }
  .whoAmIPage .gameContainer .player > h4.playerName {
    font-size: 3.5rem;
  }
  .whoAmIPage .gameInfo .score {
    font-size: 4rem;
  }
  .whoAmIPage > .mainContainer {
    padding: 15px 0;
    gap: 0px;
    justify-content: space-between;
  }
  .whoAmIPage .gameContainer {
    flex-grow: 0;
  }
}

/* {overlay === 'correct' ? (<div classname='notifycontainer correct'>
 <div classname='iconcontainer'>
 <img src={check} alt='' />
 </div>
 <p classname='correct'>correct!</p>
 <p classname='score'>+5 points</p>
 </div>) : null}
        {overlay === 'incorrect' ? ((
 <div className='notifyContainer incorrect'>
 <div className='iconContainer'>
 <img src={Close} alt='' />
 </div>
 <p className='incorrect'>Incorrect!</p>
 <p className='score'>No Points ;(</p>
 </div>
 ): null}) */
.notifyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.notifyContainer > div {
  border-radius: var(--main-border-radius);
  width: 250px;
  height: 250px;
}

.notifyContainer > div > img {
  width: 100%;
  height: 100%;
}

.notifyContainer > p {
  font-size: 4rem;
  font-weight: 500;
}

.notifyContainer.incorrect > div {
  border: 10px solid var(--impossible-500);
}

.notifyContainer.incorrect > div > img {
  filter: invert(35%) sepia(65%) saturate(1881%) hue-rotate(334deg)
    brightness(95%) contrast(97%);
}

.notifyContainer.incorrect > p {
  color: var(--impossible-500);
}

.notifyContainer.correct > div {
  border: 10px solid var(--easy-500);
}

.notifyContainer.correct > div > img {
  filter: invert(84%) sepia(29%) saturate(7424%) hue-rotate(87deg)
    brightness(93%) contrast(75%);
}

.notifyContainer.correct > p {
  color: var(--easy-500);
}

.loggedOutMessage {
  font-size: 2rem;
}

.loggedOutMessage a {
  text-decoration: underline;
}
.loggedOutMessage a:hover {
  text-decoration: none;
}

@media (max-width: 1800px) {
  .notifyContainer > div {
    width: 200px;
    height: 200px;
  }
  .notifyContainer > p {
    font-size: 3.5rem;
  }
}
