.button {
  width: 250px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--main-border-radius);
  box-shadow: var(--button-shadow);
  background-color: transparent;
  border: var(--button-border);
}

.button:hover {
  cursor: pointer;
}

.button > p.label {
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
}

.button .buttonIcon {
  width: 45px;
  filter: invert(100%);
}

@media (max-width: 1800px) {
  .button {
    width: 205px;
    height: 60px;
  }

  .button > p.label {
    font-size: 2.8rem;
  }

  .button .buttonIcon {
    width: 35px;
  }
}

/* Small Styles */

.button.small {
  width: 150px;
  height: 46px;
  box-shadow: var(--small-button-shadow);
}

.button.small > p.label {
  font-size: 2.2rem;
  font-weight: 600;
}

.button.small .buttonIcon {
  width: 25px;
  filter: invert(100%);
}

.button.easy {
  background-color: var(--easy-700);
}

@media (max-width: 1800px) {
  .button.small {
    width: 150px;
    height: 45px;
  }

  .button.small > p.label {
    font-size: 2rem;
  }
}

/* Taller Styles */

.button.taller {
  width: 250px;
  height: 90px;
}

.button.taller > p.label {
  font-size: 3rem;
}
