/* 
  <header>
    <p className="logo">SportsBallGame.com</p>
    {isLoggedIn ? (
      <div className="profileIndicator">
        <ProfilePic image={User.picture} />
        <div className="dropdownContainer">
          <img src={Dropdown} alt="" />
        </div>
      </div>
    ) : (
      <div className="signInButtonContainer">
        <button className="signIn">Sign In</button>
        <button className="signOut">Sign Out</button>
      </div>
    )}
  </header>
*/

header.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: var(--background-secondary);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  flex-shrink: 0;
}

header > .logo {
  font-family: 'Orbitron';
  font-size: 4.8rem;
  font-weight: 500;
  justify-self: center;
  grid-column: 2 / 3;
}
