/*
  <div className="page homePage">
    {isLoggedIn ? (
      <h2 className="welcome">Welcome, {User.username}</h2>
    ) : (
      <h2 className="welcome">You're currently signed out. </h2>
    )}
    <div className="optionsContainer">
      <TileButton label="Profile" icon={UserIcon} />
      <TileButton label="Higher or Lower" icon={HigherOrLowerIcon} />
      <TileButton label="More" icon={More} />
      <TileButton label="Profile" icon={UserIcon} />
      <TileButton label="Leaderboards" icon={Leaderboard} />
      <TileButton label="Settings" icon={Settings} />
    </div>
  </div>
*/

.homePage {
  background-color: #1c1c28;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homePage .welcome {
  font-size: 4rem;
  padding-bottom: 50px;
}

.homePage .welcome a:hover {
  text-decoration: underline;
}

.optionsContainer {
  display: flex;
  gap: 75px;
}

.optionsContainer .separator {
  width: 1px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5) 20% 80%,
    rgba(255, 255, 255, 0)
  );
  height: 100%;
}

.optionsContainer .left,
.optionsContainer .right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
