/*
<>
  <main className="page homePage">
    {isLoggedIn ? (
      <h2 className="welcome">Welcome, {User.username}</h2>
    ) : (
      <h2 className="welcome">
        You're currently signed out. <Link to="/signin">Sign in</Link> or{' '}
        <Link to="/signup">Sign up</Link>?
      </h2>
    )}
    <div className="optionsContainer">
      <div className="left">
        <TileButton label="Who Am I?" bgImage={null} />
        <TileButton label="Higher or Lower" bgImage={null} />
        <TileButton label="More" bgImage={null} />
      </div>
      <div className="separator"></div>
      <div className="right">
        <TileButton label="Profile" bgImage={null} />
        <TileButton label="Leaderboards" bgImage={null} />
        <TileButton label="Settings" bgImage={null} />
      </div>
    </div>
  </main>
  <Footer />
</>
*/

.homePage {
  background-color: #1c1c28;
  box-sizing: border-box;
}

.homePage .welcome {
  font-size: 4rem;
  font-weight: 700;
}

.homePage .mainContainer {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.homePage .optionsContainer {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.homePage .optionsContainer .left,
.homePage .optionsContainer .right {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
