/*
  <div className="page homePage">
    {isLoggedIn ? (
      <h2 className="welcome">Welcome, {User.username}</h2>
    ) : (
      <h2 className="welcome">You're currently signed out. </h2>
    )}
    <div className="optionsContainer">
      <TileButton label="Profile" icon={UserIcon} />
      <TileButton label="Higher or Lower" icon={HigherOrLowerIcon} />
      <TileButton label="More" icon={More} />
      <TileButton label="Profile" icon={UserIcon} />
      <TileButton label="Leaderboards" icon={Leaderboard} />
      <TileButton label="Settings" icon={Settings} />
    </div>
  </div>
*/

.optionsContainer {
  margin: auto;
  display: flex;
  gap: 50px;
}

.optionsContainer .left,
.optionsContainer .right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
