/*
  <div className="page whoAmIOptionsPage">
    <h2 className="title">
      <p>Who Am I?</p>
      <p>Game Options</p>
      <div className="separator"></div>
    </h2>
    <h3>Sport</h3>
    <SportsContainer />
    <h3>Difficulty</h3>
    <DifficultyContainer sport="nba" />
    <div className="toggle">
      <h3 className="time">Time</h3>
      <ToggleSwitch />
      <h3 className="rounds">Rounds</h3>
    </div>
    <RoundContainer />
    <button className="start">Start</button>
  </div>
*/

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px;
  gap: 50px;
}

.optionsPage h2.title {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.optionsPage h2.title > .separator {
  width: 400px;
  height: 2px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #fff 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.optionsPage > .mainContainer > div.optionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.optionsPage h3 {
  font-size: 4rem;
  font-weight: 700;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 20px;
}

.toggle > h3.time {
  color: hsla(0, 0%, 100%, 0.5);
}

.optionsPage .start {
  width: 250px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--main-border-radius);
  box-shadow: var(--button-shadow);
  background-color: var(--easy-600);
  border: var(--button-border);
}

.optionsPage .start > p {
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
}
