.sportsContainer {
  display: flex;
  gap: 110px;
}

.sportsContainer .optionButton {
  width: 155px;
  padding: 5px;
  justify-content: space-between;
}

.optionButton > .optionPicContainer {
  width: 100px;
  height: 100px;
}

.optionPicContainer > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.optionButton > p {
  color: white;
  font-size: 3rem;
  font-weight: 600;
}
